.footer{
    padding: 4rem 6rem;
    background-image: linear-gradient(to right, rgb(179, 235, 230), rgb(167, 140, 201), rgb(214, 166, 233));
    color: aliceblue;
}
.top{
    display:flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.icons a{
    color: aliceblue;
    font-size: 2rem;
    margin: 1rem;
}
.icons a:hover,
.bottom a:hover{
    color: aqua;
}
.bottom{
    margin-left: 1rem;
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bottom div{
    display: flex;
    flex-direction: column;
}
.bottom h4{
    font-size: 1.3rem;
    padding: 1rem 0 .8rem 0;
}
.bottom a{
    text-decoration: none;
    color: aliceblue;
    padding-bottom: 0.4rem;
    font-size: 1.1rem;
}

@media screen and (max-width:850px){
    .footer{
        padding: 4rem 2rem;
    }
    .footer a{
        margin: 1rem 1rem 0 0;
    }
    .bottom div{
        width: 50%;
    }
}